<div class="text-center my-5"><strong>Cart</strong></div>
<div class="table-responsive-sm">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Tax</th>
        <th scope="col">Total Amount</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of productDetails">
        <th scope="row">{{ data._id }}</th>
        <td>{{ data.pname }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.discount }}</td>
        <td>{{ data.tax }}</td>
        <td>{{ data.totalAmount }}</td>
        <td><button class="btn btn-primary" (click)="onPlus()">+</button></td>
        <td class="box">{{count}}</td>
        <td>
          <button class="btn btn-primary" (click)="onMinus(data._id)">-</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
